<div class="favourite">
  <div class="container mt-4">
    <p class="title">My Garage</p>
    <% @favourites.each do |favourite| %>
    <div class="card-product my-2">
      <%= cl_image_tag(favourite.car.image,
        width: 400, height: 200, crop: :fill, quality: 100) %>

      <div class="card-product-infos d-flex justify-content-between">
        <div class="info">
          <h2><%= favourite.car.brand %></h2>
          <strong><%= favourite.car.model %></strong>
          <p><%= favourite.car.year %> | <%= favourite.car.fuel %> </p>
        </div>
        <div class="delete">
          <%= link_to favourite_path(favourite),
          data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } do %>
          <i class="fa-solid fa-trash" style="color: #97a6a6;"></i>
          <% end %>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
