


<div class="conainter d-flex mb-5 justify-content-center">
  <div class="card">
    <%= cl_image_tag(@car.image,
      width: 800, height: 400, crop: :fill, quality: 100) %>
  <div class="card-info">
    <div class="card-details">
      <p style="color: red; font-weight: bold;"><%= @car.brand %></p>
      <p style="font-weight: bold; opacity: 0.7"><%= @car.model %></p>
      <p><%= @car.fuel %></p>
      <p><%= @car.year %></p>
      <br>
      <div class="garage">
        <% if @car.favourites.empty? %>
          <%= simple_form_for([@car, @favourite] )do |f| %>
          <%= f.submit 'Add to garage'%>
          <% end %>
          <% else %>
            <p>This car is already in your garage!</p>
          <% end %>
      </div>

    </div>
    <div class="card-comment">
      <%= simple_form_for [@car, @review] do |f| %>
    <%= f.input :comment, label: false,  input_html: { style: "width: 300px; height: 100px;", placeholder: "Comment here.." } %>
    <%= f.input :rating,label: false, collection: 1..5 %>
    <%= f.submit 'Send', style:"margin-left: 250px;"%>
<% end %>

    </div>
  </div>
  <div class="px-4">
    <hr>
  </div>
<% @car.reviews.each do |review| %>
<div class="d-flex justify-content-start py-0 ">
  <p style="margin-right: 5px; margin-left: 20px;"><%= review.comment %></p>
  <% review.rating.times do %>
            <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
  <% end %>
</div>
  <div class="px-4">
    <hr>
  </div>
<% end %>
  </div>
</div>
